# local package
-e .

# external requirements
bokeh
click
searchtweets
coverage
awscli
flake8
flask
flask-cors
flask-login
python-dotenv>=0.5.1
elasticsearch
pandas
matplotlib
seaborn
googletrans==3.0.0
preprocessing
nltk
pyspellchecker
tweet-preprocessor
rich
eland
gensim
networkx
sklearn
torch
torchvision
tensorflow
transformers
tqdm
pointofview
